<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<title>すごいECサイト</title>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">すごいECサイトで爆買いしよう!</a>
    </div>
    <div class="header clearfix">
    <% if current_user %>
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"><a href="/users/<%= current_user[:id] %>"><%= current_user[:name] %>さんの購入履歴</a></li>
          <li role="presentation"><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    <% else %>
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="/login">Login</a></li>
      </ul>
    </nav>
    <% end %>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <h2><%= product[:name] %></h2>
    <% if already_bought?(product[:id]) %><h4>あなたはすでにこの商品を買っています</h4><% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <img src="<%= product[:image_path] %>" class="img-responsive" width="400"/>
      <h2>価格</h2>
      <p><%= product[:price] %> 円</p>
      <h2>商品説明</h2>
      <p><%= product[:description] %></p>
    </div>
  </div>
</div>

</body>
</html>
